* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/paper.jpg);
    background-position: center;
    background-size: cover;
    font-family: "Reenie Beanie", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(44, 28, 16);
    position: relative;
    width: 100%;
    height: 100vh;
}

h1 {
    font-size: 5vw;
}

h4 {
    font-size: 4vw;
    margin: auto;
    align-items: center;
    display: flex;
}

.recipename {
    width: 80%;
    height: 5.2vh;
    margin: 0 auto;
    padding-bottom: 3%;
}

.burger {
    position: fixed;
    height: 50px;
    width: 50px;
    top: 1%;
    right: 1%;
    color: rgb(44, 28, 16);
    z-index: 99999999;
}

.burger span {
    height: 5px;
    width: 100%;
    color: rgb(44, 28, 16);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.burger span:nth-child(1) {
    top: 25%;
}

.burger span:nth-child(3) {
    top: 75%;
}

.burger.active span {
    color: antiquewhite;
    z-index: 9999999;
}

.burger:after {
    content: "\2630";
    font-size: 40px;
}
.burger:hover {
    cursor: pointer;
}
.navigation {
    height: 100vh;
    width: 100%;
    max-width: 500px;
    position: fixed;
    top: 0;
    right: -500px;
    background-color: rgb(44, 28, 16);
    z-index: 999998;
    display: flex;
    transition: .3s ease;
    max-height: 100vh;
    overflow-y: scroll;
}

.navigation.active {
    right: 0;
}

.navigation li {
    list-style-type: none;
    font-size: 3vw;
    margin: 10%;
}
.navigation li a {
    color: antiquewhite;
    text-decoration: none;
}
.navigation li a:hover {
    text-decoration: underline;
}

h3 {
    font-size: 3vw;
    margin: 0 auto 0 auto;
    align-items: center;
    justify-content: center;
}

header {
    padding: 2%;
    z-index: 9999999999;
    width: 100%;
}

.intro {
    width: 80%;
    margin: 5% 10% 0 10%;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.recipegrid {
    width: 80%;
    margin: 5% 10% 0 10%;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
}

.parent div {
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.div1 { grid-area: 1 / 1 / 2 / 2; background-color: #F5B158; background-image: url(images/bananabread.png);}
.div2 { grid-area: 1 / 2 / 2 / 3; background-color: #48cfb6; background-image: url(images/pie.png);}
.div3 { grid-area: 1 / 3 / 2 / 4; background-color: #F558F2; background-image: url(images/carrotcake.png);}
.div4 { grid-area: 1 / 4 / 2 / 5; background-color: #5B58F5; background-image: url(images/lemonloaf.png);}
.div6 { grid-area: 2 / 2 / 3 / 3; background-color: #7cd468; background-image: url(images/chantilly.png);}
.div7 { grid-area: 2 / 3 / 3 / 4; background-color: #F56858; background-image: url(images/tart.png);}
.div8 { grid-area: 2 / 4 / 3 / 5; background-color: #4AB0F0; background-image: url(images/pretzel.png);}
.div11 { grid-area: 3 / 3 / 4 / 4; background-color: #F58ED5; background-image: url(images/muffin.png);}
.div12 { grid-area: 3 / 4 / 4 / 5; background-color: #53DBA9; background-image: url(images/cobbler.png);}

.parent h2 {
    display: flex;
    text-align: center;
    margin: 0 auto 0 auto;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 50px;
    height: 225px;
    width: 225px;
    opacity: 0;
    background-color: rgb(125, 9, 62, 0.5);
}

.parent h2:hover{
    opacity: 1;
}

a {
    text-decoration: none;
}

header a {
    color: rgb(44, 28, 16);
}

.ingredients {
    width: 70%;
    margin: 5 auto 5 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2%;
}

.ingredientlist {
    width: 70%;
    height: 110vh;
    margin: 0 auto 0 auto;
    background-color: rgba(44, 28, 16, 0.458);
    border-radius: 25px;
    padding: 5%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 20px;
    text-align: center;
}

.ingredientlistpret {
    width: 70%;
    height: 110vh;
    margin: 0 auto 0 auto;
    background-color: rgba(44, 28, 16, 0.458);
    border-radius: 25px;
    padding: 5%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 20px;
    text-align: center;
}

.ingredientlist div img{
    width: 200px;
    height: 200px;
}

.ingredientlistpret div img {
    width: 200px;
    height: 200px;
}

.bb1 { grid-area: 1 / 1 / 2 / 2;}
.bb2 { grid-area: 1 / 2 / 2 / 3; }
.bb3 { grid-area: 1 / 3 / 2 / 4;}
.bb4 { grid-area: 1 / 4 / 2 / 5;}
.bb5 { grid-area: 2 / 1 / 3 / 2;}
.bb6 { grid-area: 2 / 2 / 3 / 3;}
.bb7 { grid-area: 2 / 3 / 3 / 4;}
.bb8 { grid-area: 2 / 4 / 3 / 5;}
.bb9 { grid-area: 3 / 2 / 4 / 3;}
.bb10 { grid-area: 3 / 3 / 4 / 4;}

.bb5 img:hover {
    opacity: 0;
}

.bb5:hover {
    background-image: url(images/crack.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.bc5 img:hover {
    opacity: 0;
}

.bc5:hover {
    background-image: url(images/crack.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

figcaption {
    color: rgb(44, 28, 16);
    font-size: 2vw;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.recipe {
    height: 100vh;
    width: 80%;
    margin: auto;
    padding: 5%;
}

.recipe, .about p {
    font-size: 3vw;
    line-height: 1.2;
    margin: 5%;
}

.recipe, .about img {
    height: 50vh;
    align-items: center;
    justify-content: center;
    margin: 0 auto 0 auto;
    display: block;
    z-index: 888;
}

button {
    padding: 10px 20px;
    background-color: antiquewhite;
    color: rgb(44, 28, 16);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

.bananatip img {
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 5%;
    display: flex;
}

.bananasticker {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 5%;
    bottom: -220%;
    animation: hint 4s 0s infinite;
}

.bananasticker:hover {
    cursor: pointer;
}

@keyframes hint {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(10deg);}
    50% {transform: rotate(-10deg);}
    75% {transform: rotate(-20deg);}
    100% {transform: rotate(0deg);}
}

@keyframes clickhere {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(5deg);}
    100% {transform: rotate(0deg);}
}

.pietip {
   background-color: rgb(44, 28, 16); 
   height: 80vh;
   width: 50%;
   overflow-y: scroll;
   position: fixed;
   align-items: center;
   justify-content: center;
   margin: auto;
   padding: 5%;
   z-index: 99999999;
   top: 10%;
   left: 20%;
   right: 20%;
   bottom: 10%;
   border-radius: 10px;
   display: none;
}

.pietip p {
    font-size: 3vw;
    line-height: 1.2;
    margin: 5%;
    padding: 5%;
    color: antiquewhite;
}

.pietip h4 {
    color: antiquewhite;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#show {
    animation: clickhere 1s 0s infinite;
}

h5 {
    font-size: 3vw;
}

#ingredientlistcc {
    height: 155vh;
}

.ticket {
    position: absolute;
    padding: 5%;
    top: 20%;
    right: 2%;
    z-index: 9999;
}

.ticket:hover {
    cursor: pointer;
}

.cctip, .bananatip, .peartip {
    background-color: rgb(44, 28, 16); 
   height: 50vh;
   width: 50%;
   overflow-y: scroll;
   position: fixed;
   align-items: center;
   justify-content: center;
   margin: auto;
   padding: 5%;
   z-index: 9997;
   top: 10%;
   left: 20%;
   right: 20%;
   bottom: 10%;
   border-radius: 10px;
   display: none;
}

.cctip, .almond, .icing, .berrytip, .peachtip, .bananatip, .peartip, .handsfact p {
    font-size: 3vw;
    line-height: 1.2;
    margin: 5%;
    padding: 5%;
    color: antiquewhite;
}

.cctip, .almond, .icing, .berrytip, .peachtip, .bananatip, .peartip, .handsfact h4 {
    color: antiquewhite;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.stamp {
    position: absolute;
    width: 200px;
    height: 200px;
    padding: 5%;
    top: 185%;
    left: 1%;
    z-index: 9999;
    transform: rotate(-27deg);
    animation: clickhere 4s 0s infinite;
}

.stamp:hover {
    cursor: pointer;
}

.almond {
background-color: rgb(44, 28, 16); 
   height: 45vh;
   width: 50%;
   position: fixed;
   align-items: center;
   justify-content: center;
   margin: auto;
   padding: 5%;
   z-index: 9997;
   top: 10%;
   left: 20%;
   right: 20%;
   bottom: 10%;
   border-radius: 10px;
   display: none;
}

.almond:hover {
    cursor: pointer;
}

#showalmond {
    animation: hint 4s 0s infinite;
}

#showalmond:hover {
    cursor: pointer;
}

.icing {
    background-color: rgb(44, 28, 16); 
   height: 50vh;
   width: 50%;
   overflow-y: scroll;
   position: fixed;
   align-items: center;
   justify-content: center;
   margin: auto;
   padding: 5%;
   z-index: 9997;
   top: 10%;
   left: 20%;
   right: 20%;
   bottom: 10%;
   border-radius: 10px;
   display: none;
}

.handsfact {
    background-color: rgb(44, 28, 16); 
   height: 50vh;
   width: 30%;
   overflow-y: scroll;
   position: fixed;
   align-items: center;
   justify-content: center;
   margin: auto;
   padding: 5%;
   z-index: 9997;
   top: 10%;
   left: 20%;
   right: 20%;
   bottom: 10%;
   border-radius: 10px;
   display: none;
}

button:hover {
    cursor: pointer;
}

.icing img {
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    padding-top: 5%;
}

.flower {
    position: absolute;
    top: 250%;
    right: 3%;
}

.flower:hover {
    transform: rotate(10deg);
    cursor: pointer;
}

.berrytip, .peachtip {
    background-color: rgb(44, 28, 16); 
   height: 50vh;
   width: 50%;
   overflow-y: scroll;
   position: fixed;
   align-items: center;
   justify-content: center;
   margin: auto;
   padding: 5%;
   z-index: 9997;
   top: 10%;
   left: 20%;
   right: 20%;
   bottom: 10%;
   border-radius: 10px;
   display: none;
}

#shownote:hover {
   transform: rotate(15deg);
   cursor: pointer;
}

.note {
    position: absolute;
    top: 150%;
    right: 3%;
}

.berrytip img {
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    padding-top: 5%;
}

.star {
    position: absolute;
    display: flex;
    bottom: -240%;
    left: 5%;
    width: 150px;
    height: 150px;
    animation: spin 7s 0s infinite;
}

.star:hover{
    cursor: pointer;
}

.peachtip p a {
    color: antiquewhite;
}

.peachtip a:hover {
    text-decoration: underline;
}

.about {
    display: block;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    font-size: 200%;
}

#word {
    position: absolute;
    top: 30%;
}

.book {
    background-image: url(images/book.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 700px;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 40%;
}

.book:hover {
    background-image: url(images/open.png);
}

#breadimg {
    position: absolute;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    left: 25%;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

a:visited {
    color: rgb(44, 28, 16);
}

a:hover {
    text-decoration: underline;
}

.recipegrid a:hover {
    text-decoration: none;
}

.leaf {
    position: absolute;
    width: 150px;
    height: 150px;
    transform: rotate(-90deg);
    padding: 5%;
    top: 25%;
    right: 2%;
    animation: spin 10s 0s infinite;
}

.leaf:hover {
    cursor: pointer;
}

.hands {
    position: absolute;
    width: 350px;
    height: 350px;
    transform: rotate(-90deg);
    padding: 5%;
    top: 90%;
    left: 5%;
    animation: hint 7s 0s infinite;
}

.hands:hover {
    cursor: pointer;
}

.aboutlink {
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url(images/ant.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 170%;
    right: 8%;
}

@media screen and (max-width: 1150px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .ingredientlist{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        height: 150vh;
    }


    .bb1 { grid-area: 1 / 1 / 2 / 2; }
    .bb2 { grid-area: 1 / 2 / 2 / 3; }
    .bb3 { grid-area: 2 / 1 / 3 / 2; }
    .bb4 { grid-area: 2 / 2 / 3 / 3; }
    .bb5 { grid-area: 3 / 1 / 4 / 2; }
    .bb6 { grid-area: 3 / 2 / 4 / 3; }
    .bb7 { grid-area: 4 / 1 / 5 / 2; }
    .bb8 { grid-area: 4 / 2 / 5 / 3; }
    .bb9 { grid-area: 5 / 1 / 6 / 2; }
    .bb10 { grid-area: 5 / 2 / 6 / 3; }

    .ingredientlist div img {
        width: 150px;
        height: 150px;
    }

    .bc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 170vh;
}

#ingredientlistcc {
    height: 200vh;
}

.stamp {
    width: 150px;
    height: 150px;
    top: 200%;
    left: 75%;
    transform: rotate(27deg);
}

.ticket {
    top: 10%;
    right: 0;
}

.ingredientlistpret {
    height: 120vh;
}
}


@media screen and (max-width: 500px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 1fr);
    }
}
